.white-hearts {
  background: #fff url('imgs/hearts-white.jpg') repeat-y right top;
}

.success {
  background-color: #1b5e20;
}

.fail {
  background-color: #b71c1c;
}

.under-btn {
  margin-top: 10px;
}
