.white-hearts {
  background: #fff url('imgs/hearts-white.jpg') repeat-y right top;
}

.success {
  background-color: #1b5e20;
}

.fail {
  background-color: #b71c1c;
}

.icon-right {
  margin-left: 10px;
}

.icon-left {
  margin-right: 10px;
}

.input-field label {
  font-size: 2rem;
}

input[type=text] {
  height: 4rem;
  font-size: 2rem;
}

.input-field label.active {
  font-size: 1.8rem;
  margin-top: 10px;
}